Envejecimiento-Exitoso-Backend/src/main/resources/application.properties
Envejecimiento-Exitoso-Backend/pom.xml
/Envejecimiento-Exitoso-Frontend/node_modules/
/Envejecimiento-Exitoso-Frontend/dist/
.idea/modules.xml
